/*=============== EXPERIENCE ===============*/
.experiences {
  background-color: var(--container-color);
  transition: background-color 0.4s;
}

.experiences__container {
  display: flex;
}

.experiences__work {
  max-width: 700px;
  margin-bottom: 80px;
}

.experiences__education {
  margin-bottom: 50px;
}

.experiences__education-left {
  max-width: 700px;
}

.experiences__education-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-bold);
  text-align: end;
}

.experiences__dot {
  width: 20px;
  height: 20px;
}

.experiences__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.experiences__subtitle {
  position: relative;
  display: inline-block;
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: 0.2rem;
}

.experiences__description {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  text-align: justify;
}

/* For small devices */
@media screen and (max-width: 340px) {
  .experiences__education-left {
    max-width: 700px;
    float: left;
    width: 0;
    height: 100px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .experiences__title {
    font-size: var(--h2-font-size);
  }

  .experiences__subtitle {
    font-size: var(--h3-font-size);
  }

  .experiences__description {
    font-size: var(--small-font-size);
  }

  .experiences__education-left {
    max-width: 700px;
    float: left;
    width: 100px;
    height: 100px;
  }
}

/* For large devices */
@media screen and (min-width: 1115px) {
  .experiences__title {
    font-size: var(--h2-font-size);
  }

  .experiences__subtitle {
    font-size: var(--h3-font-size);
  }

  .experiences__description {
    font-size: var(--small-font-size);
  }

  .experiences__education-left {
    max-width: 700px;
    float: left;
    width: 350px;
    height: 100px;
  }
}
