/*=============== SKILLS ===============*/

/* Home Page */
#skill {
  position: relative;
}

.skill__containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
}

.skill__details {
  padding: 1.5rem;
  flex: 1;
  background: var(--container-color);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.skill__subtitle {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.skill__list {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-around;
}

.skill__icon {
  display: flex;
  width: 9rem;
  justify-content: space-around;
  gap: 0.3rem;
  font-size: 0.8rem;
}

.skill__img {
  cursor: pointer;
  height: 2rem;
  margin: auto;
}

@media screen and (max-width: 1400px) {
  .skill-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  .skill-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .ex__article {
    font-size: 0.8rem;
    width: 8rem;
  }
  .skill__containers {
    flex-wrap: wrap;
  }
  .skill__subtitle {
    font-size: 1.25rem;
  }
}




/* Skill Page */
:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #02194671;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";
}

.skills__container {
  color: var(--text-color-light);
  margin-top: 120px;
  margin-bottom: 150px;
  margin-left: 10%;
  margin-right: 10%;
}

.skills__type {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  margin-top: 70px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.skills__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills__column {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.skills__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skills__Image-container {
  background-color: rgb(188, 188, 188);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  transition: background-color 0.4s, transform 0.4s;
  cursor: pointer;
}
.skills__image {
  width: 50px;
}
.skills__Image-container:hover {
  transform: scale(1.1);
  background-color: rgba(0, 146, 224, 0.416);
}
.dark-theme .skills__Image-container {
  background-color: var(--black-color);
}
.dark-theme .skills__Image-container:hover {
  background-color: rgba(0, 255, 255, 0.257);
}

.skills__title {
  color: var(--title-color);
  font-size: 10px;
}


/* For small devices */
@media screen and (max-width: 340px) {
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .skills__Image-container {
    background-color: rgb(188, 188, 188);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    transition: background-color 0.4s, transform 0.4s;
    cursor: pointer;
  }
  .skills__image {
    width: 80px;
  }
  .skills__column {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
  }
  .skills__title {
    color: var(--title-color);
    font-size: 15px;
  }
}
