/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  backdrop-filter: blur(10px);
  transition: box-shadow 0.4s, background-color 0.4s;
  box-shadow: 3px 1px 6px var(--black-color);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.nav__logo-circle,
.nav__toggle {
  width: 32px;
  height: 32px;
  background-color: var(--black-color);
  color: var(--white-color);
  display: grid;
  place-items: center;
}

.nav__logo-circle {
  border-radius: 50%;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -550px;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    backdrop-filter: blur(8px);
    width: 100%;
    padding-block: 1.8rem 5rem;
    text-align: center;
    transition: top 0.4s;
  }
}

.nav__title,
.nav__name,
.nav__close {
  color: var(--white-color);
}

.nav__title {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 3.5rem;
}

.nav__name {
  position: relative;
  width: max-content;
  margin: 0 auto 3rem;
  font-size: var(--h2-font-size);
}

.nav__name::after,
.nav__name::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--text-color-light);
  position: absolute;
  top: 50%;
  left: -4rem;
}

.nav__name::before {
  left: initial;
  right: -4rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  position: relative;
  color: var(--text-color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__link:hover::after {
  width: 25%;
}

.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, 0.1);
}

/* Active link */
.active-link {
  color: var(--white-color);
}
.active-link::after {
  width: 25%;
}

/* Theme */
.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }
  .nav__close,
  .nav__toggle,
  .nav__title,
  .nav__name {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__link {
    color: var(--text-color);
    font-size: var(--normal-font-size);
  }
  .nav__link:hover {
    color: var(--title-color);
  }
  .nav__link::after {
    background-color: var(--title-color);
  }
  .active-link {
    color: var(--title-color);
  }
  .nav__link-button {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1.1rem 1.5rem;
  }
  .nav__link-button:hover {
    color: var(--white-color);
  }
  .nav__link-button::after {
    background-color: transparent;
  }
}
