/*=============== SERVICES ===============*/
.services__container {
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 2rem;
  padding-top: 1rem;
}

.services__card {
  position: relative;
}

.services__content {
  height: 100%;
  background-color: var(--body-color);
  border: 4px solid var(--black-color);
  padding: 6rem 1rem 3rem;
  z-index: 5;
  position: relative;
  transition: background-color 0.4s, border 0.4s;
}

.services__border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid var(--first-color);
  top: 0;
  left: 0;
  transition: transform 0.4s;
}

.services__card:hover .services__border {
  transform: translate(0.75rem, 0.75rem);
}

.services__icon {
  position: relative;
  display: inline-block;
}

.services__icon i {
  font-size: 2rem;
  color: var(--black-color);
  position: relative;
  z-index: 5;
}

.services__box {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--first-color);
  right: -2px;
  top: -2px;
}

.services__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .services__container {
    grid-template-columns: repeat(2, 250px);
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .services__container {
    grid-template-columns: repeat(3, 282px);
    column-gap: 5rem;
    padding-bottom: 3rem 5rem;
  }
  .services__content {
    padding: 6.5rem 1.5rem 3.5rem;
    border: 6px solid var(--black-color);
  }
  .services__icon i {
    font-size: 3rem;
  }
  .services__box {
    width: 32px;
    height: 32px;
  }
  .services__title {
    margin-bottom: 1.5rem;
  }
  .services__card:hover .services__border {
    transform: translate(1.25rem, 1.25rem);
  }
}
