/*=============== THEME ===============*/
.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color: hsl(14, 80%, 50%);
  --black-color: hsl(0, 0%, 18%);
  --black-color-light: hsl(0, 0%, 30%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --body-color: hsl(0, 0%, 8%);
  --container-color: hsl(0, 0%, 12%);
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme .shadow-header {
  box-shadow: 0 1px 12px hsla(0, 0%, 0%, .6);
}

.dark-theme .section__title-1::after,
.dark-theme .section__title-2::after {
  background-color: hsla(14, 70%, 50%, .2);
}

.dark-theme :is(.home__arrow, .home__line, .about__line) {
  filter: none;
}

.dark-theme .home__description b {
  background: linear-gradient(90deg,
              hsla(14, 80%, 50%, .3),
              hsla(14, 80%, 50%, 0));
}

.dark-theme :is(.button__ghost, .services__icon i) {
  color: var(--white-color);
}

.dark-theme .projects__card:hover {
  background-color: var(--body-color);
}

.dark-theme :is(.contact__mail, .contact__input, .contact__label) {
  background-color: var(--container-color);
}

.dark-theme .footer {
  background-color: hsl(0, 0%, 4%);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(0, 0%, 20%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 30%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 40%);
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .dark-theme .contact__social-arrow {
    filter: none;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .dark-theme .contact__data {
    box-shadow: 4px 0 8px hsla(0, 0%, 4%, .3);
  }

  .change-theme {
    color: var(--text-color);
  }
  .change-theme:hover {
    color: var(--title-color);
  }
}