/*=============== PROJECTS ===============*/
.projects {
  background-color: var(--container-color);
  transition: background-color 0.4s;
}

.projects__container {
  row-gap: 2rem;
}

.projects__card {
  padding: 1rem 1rem 2rem;
  transition: background-color 0.4s;
}

.projects__image {
  position: relative;
  margin-bottom: 0.75rem;
}

.projects__button {
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  padding: 1rem;
}

.projects__content {
  margin-bottom: 1.25rem;
}

.projects__subtitle {
  position: relative;
  display: inline-block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: 0.75rem;
  padding-left: 1.75rem;
}

.projects__subtitle::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 0;
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.projects__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.projects__link {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  columns: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: color 0.4s;
}

.projects__link i {
  font-size: 1rem;
  color: var(--title-color);
  transition: color 0.4s;
}

.projects__link:hover,
.projects__link:hover i {
  color: var(--first-color);
}

.projects__card:hover {
  background-color: var(--white-color);
}

/* Badge */
.badge__header {
  margin-top: 10px;
}
.badge {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 5px;
  margin: 2px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.HTML__badge:hover {
  background-color: var(--first-color);
  color: var(--first-color);
  background-color: rgba(209, 127, 20, 0.25);
  border: 1px solid var(--first-color);
}
.HTML__badge {
  background-color: var(--first-color);
  border-color: var(--first-color);
  color: #d0d0d0;
}

.CSS__badge:hover {
  background-color: #001a8f;
  color: #001a8f;
  background-color: rgba(52, 152, 219, 0.25);
  border: 1px solid #001a8f;
}
.CSS__badge {
  background-color: #001a8f;
  border-color: #001a8f;
  color: #d0d0d0;
}

.PHP__badge:hover {
  background-color: #3498db;
  color: #3498db;
  background-color: rgba(52, 152, 219, 0.25);
  border: 1px solid #3498db;
}
.PHP__badge {
  background-color: #2980b9;
  border-color: #2980b9;
  color: #d0d0d0;
}

.BOOTSTRAP__badge:hover {
  background-color: #ba34db;
  color: #841c9e;
  background-color: rgba(152, 52, 219, 0.25);
  border: 1px solid #ba34db;
}
.BOOTSTRAP__badge {
  background-color: #ba34db;
  border-color: #ba34db;
  color: #d0d0d0;
}

.MySQL__badge:hover {
  background-color: #db6934;
  color: #db6934;
  background-color: rgba(207, 121, 8, 0.25);
  border: 1px solid;
}
.MySQL__badge {
  background-color: #db6934;
  border-color: #db6934;
  color: #d0d0d0;
}

.LARAVEL__badge:hover {
  background-color: red;
  color: red;
  background-color: rgba(207, 8, 8, 0.25);
  border: 1px solid;
}
.LARAVEL__badge {
  background-color: red;
  border-color: red;
  color: #d0d0d0;
}

.REACT__badge:hover {
  background-color: #00a5a5;
  color: #00a5a5;
  background-color: rgba(8, 167, 207, 0.25);
  border: 1px solid;
}
.REACT__badge {
  background-color: #00a5a5;
  border-color: #00a5a5;
  color: #d0d0d0;
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .projects__container {
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .projects__container {
    grid-template-columns: repeat(2, 350px);
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .projects__container {
    grid-template-columns: repeat(3, 352px);
    padding-block: 3rem 1rem;
  }
  .projects__card {
    padding: 1.25rem 1.25rem 2.5rem;
  }
  .projects__image {
    margin-bottom: 1rem;
  }
  .projects__content {
    margin-bottom: 2rem;
  }
  .projects__button {
    right: 1.25rem;
  }
}
